@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    height: calc(100vh - 1px);
}
.container{
    box-shadow: (5px px 5px rgba(0, 0, 0, 0.10));
    background-color: var(--White);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px
}
.container img{
    border-radius: 10px;
    width: 100%;
}
.container h1{
    text-align: center;
    margin-bottom: 25px;
    color: var(--Dark-blue)
}
.container p{
    color: var(--Grayish-blue);
    text-align: center;
}
.attribution {
     font-size: 15px; 
     text-align: center; 
}
.attribution a {
         color: hsl(228, 45%, 44%); 
         margin: 5px;
}

@media (min-width: 500px) {
    .container{
        width: 400px;
    }
}